// Override default variables
$primary-500: #e91e63;
$primary-600: #d81b60;
$primary-700: #c2185b;
@import 'assets/pico/scss/pico.scss';

.main-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.main-buttons {
  margin: 0;
  display: grid;
  grid: auto-flow / 1fr 2fr 1fr;
  grid-column-gap: 12px;
}

.main-buttons > button {
  font-size: 2cm;
  border-radius: 6mm;
}

.periods {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr;
  grid-column-gap: 12px;
}

.periods > input, div {
  font-size: 12mm;
}

.time {
  font-size: 7cm;
  text-align: center;
}
